@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}
@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin content-padding-inline() {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 72px;
  }
  @include on-desktop {
    padding-inline: 120px;
  }
}

.container {
  @include content-padding-inline;
}

@mixin hover($property, $toValue) {
  transition: #{$property} $effect-duration;
  &:hover {
    #{$property}: $toValue;
  }
}

@mixin page-grid {
  --colomns: 2;

  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--colomns), 1fr);

  @include on-tablet {
    --colomns: 6;

    column-gap: 24px;
  }
  @include on-desktop {
    --colomns: 12;
  }
}

@mixin bolt-text {
  font-family: $main-font;
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
}

@mixin regular-text {
  font-family: $mono-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0;
}
